@use "../../../styles/base.scss" as styles;

.language {
  @media screen and (min-width: 576px) and (max-width: 767px) {
    flex: 0 0 calc(50% - styles.$global-spacing-l);
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    flex: 0 0 calc(33.33% - styles.$global-spacing-l);
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    flex: 0 0 calc(25% - styles.$global-spacing-l);
  }

  @include styles.breakpoint(min-width, smallDesktop) {
    flex: 0 0 calc(20% - styles.$global-spacing-l);
  }
}

.circle {
  box-shadow: 0 0 styles.px-to-rem(4) rgba(styles.$chinese-black, 0.08), 0 styles.px-to-rem(4) styles.px-to-rem(6) styles.px-to-rem(-1) rgba(styles.$chinese-black, 0.1), 0 styles.px-to-rem(2) styles.px-to-rem(4) styles.px-to-rem(-1) rgba(styles.$chinese-black, 0.06);
  border: styles.px-to-rem(5) solid styles.$seashell;
  width: styles.px-to-rem(180);
  height: styles.px-to-rem(180);
}

.background {
  width: styles.px-to-rem(170);
  height: styles.px-to-rem(170);
}

.label {
  margin-top: styles.px-to-rem(-35);
}

.text {
  font-family: styles.$font-figtree;
  color: styles.$seashell;
}
