@use "../../styles/base.scss" as styles;

.wrapper {
  background-color: styles.$spanish-yellow;
}

.containerWrapper {
  @include styles.breakpoint(min-width, desktop) {
    display: flex;
  }
}

.left,
.right {
  @include styles.breakpoint(max-width, desktop) {
    width: auto;
  }

  @include styles.breakpoint(min-width, desktop) {
    width: 50%;
  }
}

.left {
  padding: {
    top: 0;
    right: styles.px-to-rem(15);
    bottom: styles.px-to-rem(50);
    left: 0;
  }

  p {
    @include styles.breakpoint(max-width, tablet) {
      margin-bottom: styles.px-to-rem(15);
    }

    @include styles.breakpoint(min-width, tablet) {
      margin-bottom: styles.px-to-rem(25);
    }

    font-family: styles.$font-figtree;
    margin-top: styles.px-to-rem(15);
    color: styles.$british-racing-green;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.highlighted {
  @include styles.breakpoint(max-width, tablet) {
    font-size: styles.px-to-rem(22);
    line-height: styles.px-to-rem(28);
  }

  @include styles.breakpoint(min-width, tablet) {
    font-size: styles.px-to-rem(46);
    line-height: styles.px-to-rem(53);
  }

  font-family: styles.$font-ubuntu;
  text-transform: uppercase;
}

.right {
  @include styles.breakpoint(max-width, desktop) {
    margin-top: styles.px-to-rem(30);
    align-items: center;
  }

  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
