// Main colours
$amaranth-pink: #F6a4ba;
$british-racing-green: #02422a;
$cg-glue: #02829b;
$chinese-black: #111;
$green-sheen: #74c197;
$linen: #f9f1e6;
$onyx: #393341;
$paolo-veronese-green: #009b79;
$seashell: #fbf7eb;
$sky-blue: #6fcde6;
$spanish-yellow: #ffba10;
$transparent: transparent;
$vivid-cerise: #d8137d;
$vivid-red-tangelo: #E26225;
$white: #fff;

$overlay: rgba($chinese-black, 0.26);

// Companies
$ewb: #10793f;
$uh: #9c5fb5;
$justit: #e52dad;
