@use "../../../../styles/base.scss" as styles;

.header {
  @include styles.breakpoint(max-width, desktop) {
    position: fixed;
  }

  border-bottom: styles.px-to-rem(1) solid styles.$amaranth-pink;
  background-color: styles.$linen;

  &.sticky {
    @include styles.breakpoint(min-width, desktop) {
      position: fixed;
    }
  }
}
